body{
    height:100vh;
    width: 1600px;
    margin: auto;
}

header{
    background: #000000;
    color: #FFFFFF;
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Roboto-500";
    font-size: 16px;
    font-weight: 500;
    padding: 14px 30px;
}
.logo{
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    display:block;
    text-decoration: none;
    width: 82px;
    height: 52px;
    margin-right: auto;
    margin-left: 220px;
    /*position: relative;
    z-index:6;*/
    /*display: flex;
    justify-content: flex-end;*/
}
.logo-icon{
    position: absolute;
}
.logo-text{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    margin:0px;
}
nav{
    display: flex;
}

nav ul li{
    list-style-type: none;
}

nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

nav ul li a:hover{
    color: #F9804B;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.highlighted{
    color:#F9804B;
}

.designed{
    margin-left: auto;
    margin-right: 220px;
}

.designed a{
    color: #FFFFFF;
    text-decoration: none;
}

.designed a:hover{
    color: #F9804B;
}

.online-container{
    background-image: url('../../assets/images/GiantPanda.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 780px;
    width:100%;
}
.ellipse-container{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 1275px;
    height: 478px;
}

.ellipse{
    width: 465px;
    height: 465px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}

.online-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 106.5px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 500.31px;
    height: 400px;
    margin: 74px 0 0 72px;
}

.yellow{
    color: #FFEE2E;
}